/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(216, 216, 216);
}
header{ 
    background-color: white;
    background-image: url(img/Logo.png);
    background-repeat: no-repeat;
    padding-left: 80px;
    font-size: 20px;
    background-position: 20px;
    height: 60px;
    line-height: 60px;
}
.container{
    width: 50%;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px 25px;
    position: relative;
}
.buttons-container{
    height: 40px;
    border-style: none;
}
.buttons{
    border-style: none;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}
.add-task{
    background-color: rgb(0, 166, 255);
    border-color: rgb(0, 166, 255);
    color: white;
}
.add-section{
    border: 1px solid grey;
    color: grey;
    background-color: white;
}
.divider{
    width: 100%;
    height: 1px;
    position: absolute;
    right: 1px;
    background-color: rgb(216, 216, 216);
}
.to-do-container{
    padding-top: 30px;
}
h3{
    margin-top: 5px;
}
.mark{
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    
}
.check{
    color: green;
    border: 1px solid green;
}
.cross{
    color: red;
    border: 1px solid red;
}
.tag{
    display: inline-block;
    border-radius: 30px;
    margin: 20px 0;
    height: 20px;
    width: 3.2rem;
    line-height: 20px;
    font-size: 0.6rem;
    text-align: center;
    color: white;
} 
.editorial{
    background-color: rgb(26, 228, 255);
    
}
.q1goals{
    background-color: rgb(211, 34, 211);
   
}
.recruiting{
    background-color: rgb(22, 167, 87);
}
.mobile{
    background-color: orange;
}
.website{
    background-color: palevioletred;
}
.sales{
    background-color:rgb(101, 161, 12) ;
}